<button class="title">
  <button class="button" (click)="sprintDetails = sprint" [disabled]="!sprint">
    {{ sprint ? sprint.name : 'Backlog' }}
    <span *ngIf="sprint" class="row">
    <span *ngIf="sprint.startDate && sprint.endDate" class="subtle">
      {{ sprint.startDate.toDate() | date }}
      -
      {{ sprint.endDate.toDate() | date }}
    </span>
    {{ points }} points
  </span>
  </button>
  <app-button *ngIf="next" [palette]="['gray-500', 'gray-0']" (press)="startSprint()">
    Start sprint
  </app-button>
  <app-button *ngIf="current" [palette]="['gray-500', 'gray-0']" (press)="finishSprint()">
    Finish sprint
  </app-button>
  <app-button *ngIf="!sprint" (press)="createSprint()">
    Create sprint
  </app-button>
</button>
<div *ngIf="sprint?.description" class="description">
  {{ sprint!.description }}
</div>
<div
  class="list"
  [class.empty]="!tasksInSprint.length"
  cdkDropList
  cdkDropListSortingDisabled
  (cdkDropListDropped)="onDrop($event)"
>
  <app-backlog-task
    *ngFor="let task of tasksInSprint"
    cdkDrag
    [cdkDragData]="task"
    [task]="task"
    [states]="states"
    (click)="details = task"
  ></app-backlog-task>
</div>
<div class="footer">
  <form *ngIf="data.open; else inactive" (ngSubmit)="createTask()">
    <input
      #input
      name="title"
      class="create"
      placeholder="What needs to be done?"
      [(ngModel)]="data.title"
      (blur)="setOpen(false)"
    />
    <input type="submit" style="display: none"/>
  </form>
  <ng-template #inactive>
    <button class="create" (click)="setOpen(true)">Add task...</button>
  </ng-template>
</div>
<app-task-overlay
  *ngIf="details"
  @ngIfAnimation
  [project]="project"
  [task]="details"
  (dismiss)="details = undefined"
></app-task-overlay>
<app-sprint-overlay
  *ngIf="sprintDetails"
  @ngIfAnimation
  [project]="project"
  [sprint]="sprintDetails"
  (dismiss)="sprintDetails = undefined"
></app-sprint-overlay>
