:host {
  display: block;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: var(--gray-200);
  border-radius: 8px;

  &.current {
    box-shadow: 0 0 8px inset var(--yellow-100);
  }

  &.backlog {
    background-color: var(--gray-0);
  }
}

.title {
  display: inline-block;
  margin-bottom: 1rem;
  font-size: .9rem;
  font-weight: bold;
  text-transform: uppercase;
}

.list {
  position: relative;
}

.taskInput {
  box-shadow: 0 0 0 2px inset var(--gray-500);
  padding: 0.5rem 0.75rem;
  background-color: var(--gray-100);
  border-radius: 4px;
}

.footer {
  margin-top: .5rem;
}
