:host {
  display: block;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: var(--gray-200);
  border-radius: 8px;

  &.current {
    box-shadow: 0 0 8px inset var(--yellow-100);
  }

  &.backlog {
    background-color: var(--gray-0);
  }
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
  font-size: .9rem;
  font-weight: bold;
  text-transform: uppercase;
}

.list {
  position: relative;
  min-height: calc(2rem + 2px);
  border-radius: 4px;
  border: 1px dashed transparent;
  transition: border .25s ease;

  &.empty {
    border-color: var(--gray-400);
  }
}

.input {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
  text-align: start;

  &:focus {
    box-shadow: 0 0 0 2px inset var(--gray-500);
  }
}

.footer {
  margin-top: .5rem;
}

.row, .subtle {
  display: flex;
}

.subtle {
  margin-right: .5rem;
  color: var(--gray-400);
}

.icon {
  margin-left: .5rem;
  color: var(--gray-400);
}
