<div class="title">
  {{ sprint ? sprint.name : 'Backlog' }}
  <div *ngIf="sprint" class="row">
    <div *ngIf="sprint.startDate && sprint.endDate" class="subtle">
      {{ sprint.startDate.toDate() | date }}
      -
      {{ sprint.endDate.toDate() | date }}
    </div>
    {{ points }} points
  </div>
  <app-button *ngIf="!sprint" (press)="createSprint()">
    Create sprint
  </app-button>
</div>
<div
  class="list"
  [class.empty]="!tasksInSprint.length"
  cdkDropList
  cdkDropListSortingDisabled
  (cdkDropListDropped)="onDrop($event)"
>
  <app-backlog-task
    *ngFor="let task of tasksInSprint"
    cdkDrag
    [cdkDragData]="task"
    [task]="task"
    [states]="states"
    (click)="openDetails(task)"
  ></app-backlog-task>
</div>
<div class="footer">
  <form *ngIf="data.open; else inactive" (ngSubmit)="createTask()">
    <input
      #input
      name="title"
      class="input"
      placeholder="What needs to be done?"
      [(ngModel)]="data.title"
      (blur)="setOpen(false)"
    />
    <input type="submit" style="display: none"/>
  </form>
  <ng-template #inactive>
    <button class="input" (click)="setOpen(true)">Add task...</button>
  </ng-template>
</div>
