@import "src/utils";

.heading {
  margin: 0 0 2rem -.25rem;
  font-size: 2rem;

  &::after {
    content: "";
    display: block;
    margin: .25rem 0 0 .25rem;
    width: 2rem;
    height: 3px;
    background-color: var(--yellow-200);
  }

  @include with-breakpoint(tablet) {
    margin-bottom: 3rem;
    font-size: 3rem;
  }
}
