.info, .value {
  background-color: var(--gray-100);
  border-radius: 8px;
}

.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 1rem;
}

.subtle {
  color: var(--gray-400);
}

.scroll {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  overflow-x: scroll;
  gap: 1rem;
}

.columns {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 11rem;
  gap: 1rem;
}

.column {
  flex: 0 0 20rem;
  padding: .5rem .75rem;
  background-color: var(--gray-100);
  border-radius: 8px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1rem;
}

.assignee {
  flex: 0 0 10rem;
}

.value {
  flex: 0 0 20rem;
  display: flex;
  flex-direction: column;
  min-height: 10rem;
  padding: .5rem;
  gap: .5rem;
}

.item {
  padding: 1rem;
  background-color: var(--gray-200);
  border-radius: 8px;
  user-select: none;
  cursor: move;
}

::-webkit-scrollbar {
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--gray-200);
  border-radius: 4px;
}
