<div class="info">
  {{ activeSprint.name }}
  <div *ngIf="activeSprint.startDate && activeSprint.endDate" class="subtle">
    {{ activeSprint.startDate.toDate() | date }}
    -
    {{ activeSprint.endDate.toDate() | date }}
  </div>
</div>
<div cdkDropListGroup class="scroll">
  <div class="columns">
    <div *ngFor="let state of orderedStates" class="column">
      {{ state.name }}
    </div>
  </div>
  <div *ngFor="let user of rows" class="row">
    <div class="assignee">
      {{ user?.name ?? 'Unassigned' }}
    </div>
    <div
      *ngFor="let state of orderedStates"
      cdkDropList
      cdkDropListSortingDisabled
      [cdkDropListData]="{ user: user, state: state }"
      (cdkDropListDropped)="onDrop($event)"
      class="value"
    >
      <div
        *ngFor="let task of getTasks(user, state)"
        cdkDrag
        [cdkDragData]="task"
        class="item"
        (click)="details = task"
      >
        {{ task.title }}
      </div>
    </div>
  </div>
</div>
<app-task-overlay
  *ngIf="details"
  @ngIfAnimation
  [project]="project"
  [task]="details"
  (dismiss)="details = undefined"
></app-task-overlay>
