<app-overlay (dismiss)="dismiss.emit()">
  <app-heading>
    Update sprint
  </app-heading>
  <form (ngSubmit)="updateSprint()">
    <app-input name="name" label="Name" [(ngModel)]="data.name"></app-input>
    <app-input name="description" label="Description" [(ngModel)]="data.description"></app-input>
    <app-input name="startDate" label="Start Date" [(ngModel)]="data.startDate" type="date" [maxDate]="data.endDate"></app-input>
    <app-input name="endDate" label="End Date" [(ngModel)]="data.endDate" type="date" [minDate]="data.startDate"></app-input>
    <div class="actions">
      <app-button [disabled]="!valid" [palette]="['gray-0', 'yellow-200']">
        Update
      </app-button>
    </div>
  </form>
</app-overlay>
