<ng-container *ngIf="project$ | async; let project; else loading">
  <app-row>
    <app-column [columns]="{ phone: 12, laptop: 6 }">
      <h2>Sprints</h2>
      <div *ngFor="let sprint of project.sprints">
        <p>{{ sprint.name }} <span *ngIf="sprint.id === project.currentSprint">Current sprint</span></p>
        <p>{{ sprint.startDate?.toDate()?.toLocaleDateString('nl-NL') }} | {{ sprint.endDate?.toDate()?.toLocaleDateString('nl-NL') }}</p>
        <p>{{ sprint.description }}</p>
        <br/>
      </div>
      <hr/>
      <h2>Backlog</h2>
      <div *ngFor="let task of getBacklog(project.tasks)">
        <p>{{ task.title }}</p>
        <p>{{ task.description }}</p>
        <p>{{ task.state }}</p>
      </div>
    </app-column>
  </app-row>
</ng-container>
<ng-template #loading>
  <app-spinner message="Loading tasks..."></app-spinner>
</ng-template>
