<ng-container *ngIf="project$ | async; let project; else loading" cdkDropListGroup>
  <app-backlog-sprint
    *ngFor="let sprint of project.sprints"
    [project]="project"
    [sprint]="sprint"
    [states]="project.states"
    [tasks]="project.tasks"
  ></app-backlog-sprint>
  <app-backlog-sprint
    [project]="project"
    [tasks]="project.tasks"
    [states]="project.states"
    [sprints]="project.sprints.length"
  ></app-backlog-sprint>
</ng-container>
<ng-template #loading>
  <app-spinner message="Loading tasks..."></app-spinner>
</ng-template>
