<ng-container *ngTemplateOutlet="route ? anchor : button"></ng-container>
<ng-template #content>
  <ng-content></ng-content>
</ng-template>
<ng-template #anchor>
  <a [routerLink]="route" [queryParams]="params" [appPalette]="palette">
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </a>
</ng-template>
<ng-template #button>
  <button [type]="type" (click)="press.emit()" [appPalette]="palette">
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </button>
</ng-template>
