:host {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  padding: 0 .75rem;
  background-color: var(--gray-100);
  border-radius: 4px;
  cursor: move;
  user-select: none;
  z-index: 1;

  &:not(:last-of-type) {
    margin-bottom: .5rem;
  }
}

.row {
  display: flex;
  align-items: center;
}

.label {
  margin-right: .5rem;
  padding: 0 .25rem;
  background-color: var(--gray-200);
  border-radius: .25rem;
  font-size: .75rem;
  font-weight: bold;
  text-transform: uppercase;
}
