@import "src/utils";

:host {
  display: flex;
  gap: 1rem;

  & > ::ng-deep app-button a {
    width: 100%;
    justify-content: flex-start;
  }

  @include with-breakpoint(laptop) {
    flex-direction: column;
  }
}

.icon {
  @include with-breakpoint(laptop) {
    margin-right: .75rem;
  }
}

.text {
  display: none;

  @include with-breakpoint(laptop) {
    display: inline-block;
  }
}
