.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 7.5rem;
  padding: 1rem;
  color: var(--gray-500);
  background-color: var(--gray-200);
  text-decoration: none;
  border-radius: 8px;
  transition: box-shadow .25s ease;

  &.archived {
    box-shadow: 0 0 8px inset var(--red-100);
  }

  &:focus {
    box-shadow: 0 0 0 3px inset var(--gray-500);
  }

  &.fallback {
    justify-content: center;
    align-items: center;
    color: var(--gray-300);
    background-color: transparent;
    border: 1px dashed currentColor;
  }
}

.subtle {
  color: var(--gray-400);
  text-align: right;
}

.text {
  display: inline-block;
  margin: .5rem 1rem 0;
}
