:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(1rem);
  z-index: 100;
}

.backdrop {
  height: 100%;
  background-color: var(--gray-300);
  opacity: .25;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 35rem;
  max-width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  margin: 1rem;
  padding: 3rem;
  background-color: var(--gray-0);
  border-radius: 16px;
  z-index: 1;
}
