@import "src/utils";

$spaces: 3;

:host {
  display: flex;
  flex-wrap: wrap;

  @each $breakpoint, $width in $breakpoints {
    @include with-breakpoint($breakpoint) {
      @for $space from 1 through $spaces {
        &[data-#{$breakpoint}="#{$space}"] {
          margin: -#{$space / 2}rem;

          & > ::ng-deep app-column {
            padding: #{$space / 2}rem;
          }
        }
      }
    }
  }
}
