<ng-container *ngIf="project$ | async; let project; else loading">
  <app-row>
    <app-column [columns]="{ phone: 12, laptop: 6 }">
      <form (ngSubmit)="updateProject(project)" class="form">
        <app-input name="name" label="Name" [(ngModel)]="project.name"></app-input>
        <app-input name="description" label="Description" [(ngModel)]="project.description"></app-input>
        <div class="actions">
          <app-button [palette]="['red-200', 'gray-0']" (press)="archiveProject(project)">
            Archive
          </app-button>
          <app-button [disabled]="!isValid(project)" [palette]="['gray-0', 'yellow-200']">
            Update
          </app-button>
        </div>
      </form>
    </app-column>
  </app-row>
  <app-table
    [data]="project.userData"
    [detail]="detail"
    [columns]="[
      { key: 'name', title: 'Name' },
      { key: 'role', title: 'Role', width: '10rem' },
      { key: 'accepted', title: 'Accepted', width: '5rem', template: accepted }
    ]"
  >
    <ng-template #detail let-data>
      <form style="padding: 1rem; width: 100%" (ngSubmit)="updateUser(project, data)">
        <app-input name="name" label="Name" [(ngModel)]="data.name"></app-input>
        <app-input name="role" label="Role" [(ngModel)]="data.role"></app-input>
        <app-button [palette]="['gray-0', 'yellow-200']">
          {{ data.accepted ? 'Save' : 'Accept and save' }}
        </app-button>
        <app-button *ngIf="project.owner !== data.id" [palette]="['red-200', 'gray-200']" (press)="deleteUser(project, data)">
          Remove
        </app-button>
      </form>
    </ng-template>
    <ng-template #accepted let-value>
      <fa-icon [icon]="value ? checked : unchecked" [fixedWidth]="true"></fa-icon>
    </ng-template>
  </app-table>
</ng-container>
<ng-template #loading>
  <app-spinner message="Loading settings..."></app-spinner>
</ng-template>
