<ng-container *ngIf="project$ | async; let project; else loading">
  <app-row>
    <app-column [columns]="{ phone: 12, laptop: 6 }">
      <form (ngSubmit)="updateProject(project)" class="form">
        <app-input name="name" label="Name" [(ngModel)]="project.name"></app-input>
        <app-input name="description" label="Description" [(ngModel)]="project.description"></app-input>
        <app-button class="submit" [palette]="['gray-0', 'yellow-200']">
          Update
        </app-button>
      </form>
    </app-column>
  </app-row>
</ng-container>
<ng-template #loading>
  <app-spinner message="Loading settings..."></app-spinner>
</ng-template>
