<app-container>
  <span class="logo">
    <fa-icon [icon]="logo"></fa-icon>
    Opus
  </span>
  <div *ngIf="authService.authenticated$ | async" class="items">
    <app-button [route]="['']" [palette]="['gray-500', 'gray-0']">
      Dashboard
    </app-button>
    <app-button (press)="authService.logout()" [palette]="['gray-500', 'gray-0']">
      Logout
    </app-button>
    <app-button [route]="['projects']" [palette]="['gray-0', 'yellow-200']">
      Create project
    </app-button>
  </div>
</app-container>
