@import "src/utils";

:host {
  display: block;
  position: sticky;
  top: 0;
  border-top: 3px solid var(--yellow-200);
  backdrop-filter: blur(1rem);
  z-index: 100;
}

app-container {
  flex-direction: row;
  align-items: center;
  height: 7.5rem;

  & > app-button {
    margin-left: 1rem;
  }
}

.logo {
  flex: 1;
  display: inline-block;
  font-size: .9rem;
  font-weight: bold;
  text-transform: uppercase;
}

.items {
  display: none;

  @include with-breakpoint(tablet) {
    display: block;
  }
}
