@import "src/utils";

cdk-table {
  display: flex;
  flex-direction: column;
}

cdk-header-row {
  display: flex;
  padding: 1rem;
}

cdk-row {
  display: flex;
  margin-left: 1rem;
  background-color: var(--gray-200);
  border-radius: 8px;
  overflow: hidden;
  transition: box-shadow .25s ease;

  &:focus {
    box-shadow: 0 0 0 3px inset var(--gray-500);
  }

  &[tabindex] {
    padding: 1rem;
    margin: 0 0 1rem;
  }
}

cdk-header-cell {
  color: var(--gray-400);
  font-size: .9rem;
  font-weight: bold;
  text-transform: uppercase;
}
